<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
    <!-- for homepage label  -->
    {% block label1 %} {% endblock %}
    
    <style>
        footer {

            text-align: center;
            top: 0;
            width: 100%;
            color: whitesmoke;
            background-color: rgb(6, 44, 36);
            padding: 6px;
            margin-top: 3rem;
        }
    </style>
</head>
<body>
    <div style="background-color: rgb(247, 250, 206);">
        <center><img src="{% static 'images/abcschool.jpg' %}" alt="ABC School" width="150" height="150"></center>
        <h1 style="color:indigo; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;"><u>ABC SCHOOL </u></h1>
        <br><hr> 
    </div>
    <div style="background-color: rgb(195, 246, 101);">
        <a href="{% url 'home' %}" class='m-3'>HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'about' %}" class='m-3'>ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'student' %}" class='m-3'>STUDENT</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/contact/" class='m-3'>CONTACT</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div>{% block head %}{% endblock %}</div>
    <div>
        <img src="{% static 'images/ISBHyderabad.jpg' %}" alt="School" width="1325" height="400">
    </div>
    
    <div style="min-height:85vh;">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <h4><b>
        <u>ADDRESS:</u><br><br>
        Park-1, New zone,<br>
        Pochinki,<br>
        New Delhi-760001</b>
        </h4>
    </footer>
</body>
</html>