{% extends 'base.html'%} 

<!-- title -->
{% block title %} ABC: Home Page {% endblock %}

{% block head %}<h1><i class="fas fa-home"></i>&nbsp;&nbsp;Welcome to HOME Page</h1>{% endblock %}
<!-- Body content -->
{% block content %}
    <center><h1 style="color: brown;">The School</h1>
    <p style="color: rgb(30, 6, 136); font-size: 20px;">ABC's School aims at all-round development - academic, physical, moral and cultural of the students in order to make them mature and responsible citizens who will be ready to take their rightful place in the society.</p></center><br><br>
    <center><h1 style="color: rgb(80, 6, 114);"><u>Admission</u></h1></center>
<p style="color: rgb(3, 2, 8); font-size: 20px;">
INSTRUCTIONS FOR ADMISSION<br><br>

Procedure for registration: -<br><br>

Go to the website www.ABCschool.org<br><br>

- Go to ONLINE APPLICATION FORM FOR UKG to CLASS 9 admission 2021-22.<br>
- Enter your Child’s Name, Date of Birth & Place (Exactly as it is in Birth Certificate)
   and all other fields including the Aadhaar Number (ALL IN CAPITAL LETTERS).<br>
   Requests for any change in Date of birth, after the entry, will never be accepted by the school in future.
- Register all the details because these entries will go into admission register/ records later.<br>
- After entering all details of a candidate, submit the form, then you will automatically get the reply in the given email provided.<br>
- Candidates who submit applications online will be called for entrance exam ONLY IF VACANCY ARISES IN ANY CLASS.<br>
- If online entries are incorrect, applications will be rejected.<br>
- There is no need of any recommendation from anyone. Parents are advised not to get cheated by anyone.<br>
- All communication to parents will be through email only from the school (admission@ABCschool.org)<br>
        
</p>
{% endblock %}