<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Carrers page</title>
</head>

<body>
    <center class='text-success'>
        <h1> List of Carrers</h1>
    </center>
    <div bgcolor="lightyellow">
        <form>
         <select name="carrer_choice">
            <option value="All" selected>All</option> 
             {% for i in list1 %}
             <option value='{{i}}'>{{i}}</option>
             {% endfor %}
         </select>&nbsp;&nbsp;&nbsp;
         <button type='sumbit' style="background-color:rgb(77, 246, 86);">Filter</button>
         </form>
    </div>

    <table class="table table-striped table-hover table-condensed table-bordered table-info">
        <thead>
            <tr>
                <th scope="col">Sl.no.</th>
                <th scope="col">Full Name</th>
                <th scope="col">Age</th>
                <th scope="col">Carrer</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            {% for carrer in carrers %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{carrer.first_name}} {{carrer.last_name}}</td>
                <td>{{carrer.age}}</td>
                <td>{{carrer.carrer}} </td>
                <td>{{carrer.address}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>