{% extends 'core/base.html' %}

<!-- Title  -->
{% block title %}Home:{% endblock %}


<!-- body content -->
{% block content %}
<center>
<h1>Welcome to Home Page</h1>
<p style="color: Red; font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Machine learning is a method of data analysis that automates analytical model building. It is a branch of artificial intelligence based on the idea that systems can learn from data, 
    identify patterns and make decisions with minimal human intervention.
</p>
</center>
<p style="color: rgb(163, 76, 4); font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
Evolution of machine learning
Because of new computing technologies, machine learning today is not like machine learning of the past. It was born from pattern recognition and the theory that computers can learn without being programmed to perform specific tasks; researchers interested in artificial intelligence wanted to see if computers could learn from data.<br> <br>The iterative aspect of machine learning is important because as models are exposed to new data, they are able to independently adapt. They learn from previous computations to produce reliable, repeatable decisions and results. It’s a science that’s not new – but one that has gained fresh momentum.<br><br>
While many machine learning algorithms have been around for a long time, the ability to automatically apply complex mathematical calculations to big data – over and over, faster and faster – is a recent development. Here are a few widely publicized examples of machine learning applications you may be familiar with:<br>

The heavily hyped, self-driving Google car? The essence of machine learning.
Online recommendation offers such as those from Amazon and Netflix? Machine learning applications for everyday life.
Knowing what customers are saying about you on Twitter? Machine learning combined with linguistic rule creation.
Fraud detection? One of the more obvious, important uses in our world today.
</p>

{% endblock %}